*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
}

.flex{
    display: flex;
    flex-direction: column;
}

.testo{
    line-height: 20px;
}

/*header*/

.contenitore-header{
    justify-content: space-between;
    width: 100%;
}

.flex-r{
    display: flex;
}

header{
    background-color: #0084fd;
    width: 100%;
}

.logo{
    padding: 13px 7px 10px 24px;
    width: 6rem;
}

.fa-bars{
    margin: 17px 26px 5px 5px;
    font-size: 20px;
    color: white;
}

.navigator{
    display: none;
}

nav .navigator ul li{
    padding: 5px;

}

.bottone-nav{
    border: 0px;
}


/*main*/

/*jumbo*/

/*PRIMA COLONNA*/

.jumbo{
    width: 100%;
}

.cinque-colonne{
    flex-direction: column;
    padding: 40px 0px 60px;
    
    
    
}

.colonna{
    width: 90%;
    background-color: #b5ddff;
    margin: 10px auto;
    border-radius: 20px;
}

.due-in-uno{
    /*width: calc((100% / 3) * 2);*/
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #b5ddff;
    margin: 10px auto;
    border-radius: 20px;
}

.uno{
    width: 100%;
    text-align: center;
}
.titolo-jumbo{
    color: #0084fd;
}

.bottone-jumbo{
    padding: 4px 63px 4px 63px;
    margin: 30px 0 30px;
    border: 0px;
    border-radius: 20px;
    background-color: #0084fd;
    color: white;
    font-size: 21px;
}

.titolo-jumbo{
    font-size: 33px;
    margin: 22px auto;
    text-align: center;
}

.testo-jumbo{
    font-size: 18px;
    padding: 3px 30px 30px 30px;
    text-align: center;
}
.fa-apple{
    font-size: 22px;
    margin-right: 10px;
}


.due{
    width: 100%;
}

.img-jumbo{
    width: 76%;
    margin-left: 50px;

}

/*FINE PRIMA COLONNA*/

.icona{
    text-align: center;
    font-size: 100px;
    margin: 20px;
}



/*contenitore viola*/


.contenitore-viola{
    width: 100%;
    background-color: #9792e4;
    padding-bottom: 50px;
}

.due-colonne{
    flex-direction: column;
}

.ragazza-computer{
    margin: auto;
    width: 90%;
}

.ragazza-viola{
    width: 100%;
    padding: 50px 10px 30px 10px;
}

.titolo-ragazza-viola{
    text-align: center;
    color: white;
    font-size: 37px;
    margin-bottom: 20px;
}

.testo-ragazza-viola{
    color: white;
    padding: 9px 8px 8px 13px;
    margin-bottom: 30px;
}
.cont-bianco{
    background-color: white;
    border-radius: 20px;
    padding-bottom: 30px;
}

.ragazzo-computer{
    margin: auto;
    width: 90%;
    text-align: center;
}

.ragazzo-viola{
    width: 90%;
    
}

.titolo-ragazzo-viola{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.testo-ragazzo-viola{
    text-align: center;
    padding: 5px 30px 10px 30px;
    font-size: 20px;
}

.bottone-cont-viola{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 0px;
    background-color: #9792e4;
}


/*testimoni*/

.testimoni{
    flex-direction: column;
    width: 100%;
    padding: 30px 0px 30px;
}

.testo-stampatello-testimoni{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;

}
.titolo-testimoni{
    font-size: 40px;
    text-align: center;
    padding: 30px;
    color: #9792e4;
}

.testo-testimoni{
    text-align: center;
    font-size: 20px;
    padding: 20px 40px 30px 40px;
}

.contenitore-testimoni{
    flex-direction: column;
    width: 90%;
    margin: auto;
    
}

.contenitore-testimone{
    border-radius: 20px;
    padding-bottom: 30px;
    background-color: #9792e4;
    margin-bottom: 30px;
}

.img-testimone{
    border-radius: 100%;
    overflow: hidden;
    width: 491px;
    height: 165px;
  
    
}

.foto{
    width: 425px;
    height: 180px;
}

.testo-persone{
    text-align: center;
    font-size: 20px;
    padding: 34px;
}

.nome-testimone{
    text-transform: uppercase;
    color: white;
    text-align: start;
}

/*Benefici*/

.benefici{
    width: 100%;
    background-color: #9792e4;
}

.titolo-benefici{
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 50px;
}

.contenitore-benefici{
    flex-direction: column;
    padding-bottom: 40px;
}

.beneficio{
    border-radius: 20px;
    background-color: white;
    width: 90%;
    margin: 20px auto;
    padding-bottom: 35px;
}

.numero{
    font-size: 50px;
    color: #9792e4;
    margin: 40px 20px 26px 32px;
}

.sottotitolo-benefici{
    font-size: 28px;
    color: #9792e4;
    margin: 20px 20px 26px 32px;
}

.testo-benefici{
    font-size: 17px;
    padding: 30px;
}

.bottone-benefici{
    background-color: #9792e4;
    font-size: 20px;
    padding: 10px 50px 10px 50px;
    margin-left: 23px;
    color: white;
    border: 0px;
    border-radius: 20px;
}

/*About*/

.about{
    width: 100%;
    padding: 40px 0px;
}

.contenitore-about{
    width: 90%;
    flex-direction: column;
}

.tanto-testo-about{
    width: 90%;
    margin: auto;
}

.titolo-about{
    font-size: 40px;
    color: #9792e4;
    margin: 30px 0px 27px 20px;
}

.testo-about{
    font-size: 20px;
    margin: 10px 20px 40px;
}

.faccia-about{
    width: 90%;
    margin: auto;
}

.foto-about{
    width: 100%;
    margin: 20px;
    overflow: hidden;
    border-radius: 100%;
}

.sottotitolo-about{
    color: #9792e4;
    font-size: 40px;
    margin: 20px;
}

.bottone-about{
    background-color: #9792e4;
    padding: 5px 20px 5px 20px;
    border: 0px;
    border-radius: 20px;
    margin: 20px;
    font-size: 20px;
    color: white;
}

.fa-invision{
    color: white;
    margin-right: 6px;
    font-size: 20px;
}

/*GEt Started*/

.started{
    width: 100%;
    background-color: #9792e4;
    padding: 50px 0px;
}

.contenitore-started{
    width: 90%;
    margin: auto;
}

.stampatello{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.sottotitolo-started{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    padding: 25px;
}

.titolo-sterted{
    color: #f7b848;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.testo-started{
    color: white;
    font-size: 20px;
    text-align:center ;
    margin-bottom: 30px;
}

.bottone-started{
    background-color: white;
    color: #9792e4;
    border: 0px;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
}
.testo-info{
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

.privacy{
    text-decoration: underline
}

/*Footer*/

footer{
    background-color: rgb(34, 33, 33);
    padding: 50px 0px;
}

.contenitore-footer{
    width: 90%;
    margin: auto;
}
.testo-footer{
    margin: 20px auto 80px;
}

.colore-linea{
    color: #9792e4;
    text-decoration: underline;
}

/*TABLET*/

@media screen and (min-width: 576px){

    .cinque-colonne{
        flex-direction: row;
        flex-wrap: wrap;
        
      
        
        
    }
    .due-in-uno{
        width: calc((100% / 3) * 2 - 20px);
        display: flex;
        flex-direction: row;
        margin: 10px;
        position: relative;
    }

    .img-jumbo{
        position: absolute;
        bottom: 0px;
        width: 56%;
        right: 0px;
    }

    .colonna{
        width: calc((100% / 3) - 20px);
        margin: 10px;

    }

    /*VIOLA*/


    .titolo-ragazza-viola{
        margin-left: 10px;
        color: white;
        font-size: 37px;
        margin-bottom: 20px;
        text-align: start;
    }


    /*TESTIMONI*/

   

   .testimone{
    flex-direction: row;
   }

   .img-testimone{
    display: flex;
    align-items: center;
   }


   .testo-persone{
    width: 200%;
   }




   /*BENEFICI*/

   .contenitore-benefici{
        flex-direction: row;
        flex-wrap: wrap;
   }

   .beneficio{
        width: calc((100% / 2) - 20px);
        margin: 10px;
   }

   .sottotitolo-benefici{
    margin: 20px 20px 0px 32px;
   }


   /*ABOUT*/

   .contenitore-about{
    flex-direction: row;
   }

   .tanto-testo-about{
    width: 70%;
   }

   .faccia-about{
    width: 30%;
   }

   .testo-about{
    font-size: 10px;
   }

   .sottotitolo-about{
    font-size: 20px;
   }

   .bottone-about{
    font-size: 11px;
   }

   .fa-invision{
    font-size: 11px;
   }

   .foto-about{
    width: 50%;
   }

}


/*DESKTOP*/

@media screen and (min-width: 768px){


    .contenitore-header{
        width: 80%;
        margin: auto;
    }

    .navigator{
        display: block;
        align-items: center;
        display: flex;
    }

    ul {
        list-style-type: none;
    }
    li{
        margin: 0px 5px;
        color: white;
    }



    .bottone-nav{
        border: 0px;
        border-radius: 20px;
        padding: 3px 15px 3px 15px;
        margin-left: 10px;
    }

    .fa-bars{
        display: none;

    }

    .titolo-jumbo{
        font-size: 25px;
    }

    .jumbo{
        width: 80%;
        margin: auto;
    }
    .testo-jumbo {
        font-size: 10px;
        padding: 3px 15px 30px 15px;
        text-align: center;

    }
    .fa-apple{
        font-size: 18px;
    }

    .bottone-jumbo{
        font-size: 16px;
        padding: 4px 30px;
    }

    .cinque-colonne{
        flex-direction: row;
        flex-wrap: wrap;
        
      
        
        
    }
    .due-in-uno{
        width: calc((100% / 3) * 2 - 20px);
        margin: 10px;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .img-jumbo{
        width: 50%;
        position: absolute;
        bottom: 0px;
        
    }

    .colonna{
        width: calc((100% / 3) - 20px);
        margin: 10px;
        
    }

   
     /*VIOLA*/

    .due-colonne{
        flex-direction: row;
        width: 80%;
        margin: auto;
    } 

    .contenitore-viola{
        flex-direction: row;

    }
     
    .ragazza-computer{
        width: 50%;
    }

    .ragazzo-computer{
        width: 50%;
    }

    


    /*TESTIMONI*/

    .testimoni{
        width: 80%;
        margin: auto;
    }

    .testo-testimoni{
        text-align: center;
        font-size: 20px;
        
    }
    .contenitore-testimone{
        margin-bottom: 80px;
    }

    .testo-testimoni{
        margin: 20px;
    }


     /*BENEFICI*/

    .contenitore-benefici{
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }

    .beneficio{
        width: calc((100% / 3) - 20px);
        margin: 10px;
    }

    .sottotitolo-benefici{
        margin: 20px 20px 0px 32px;
    }

    /*ABOUT*/

    .about {
        width: 80%;
        padding: 40px 0px;
        margin: auto;
    }

    /*STARTED*/

    .contenitore-started {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    /*FOOTER*/
    .contenitore-footer {
        width: 80%;
        margin: auto;
    }


}

